

.header{
  height: 50px;
  background: lightblue;

  display: flex;
  justify-content: end;
  align-items: center;
}

.search-bar {
  /* height: 90px; */
  display: flex;
  height: 30px;
  margin-right: 20px;
}


.App {
  margin: 20px;
}
.movies-container{
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
  justify-content: center;
}

.movie{
  width: 400px;
  height: 200px;
  border: 1px solid black;
  list-style-type: none; 
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}




